<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="homepage">Home Page</a>
        <a href="employees">Employees</a>
        <a href="jobs">Jobs</a>
        <a href="ingredients">Ingredients</a>
        <a href="products">Products</a>
        <a href="sales">Sales</a>
        <a href="ingredients_products">Ingredients_Products</a>
        <a href="products_sales">Products_Sales</a>
    </nav>
    {# block method to display css styling across web pages.  #}
    {% block content %}
    {% endblock %}
</body>
</html>