{% extends "Base.j2" %}
{% block content %}
<html>
<!-- All code is based on the CS 340 starter code -->
<head>
	<title>Employees</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newEmployee() {
		showform('insert');
	}

	function updateEmployee(pid) {
		showform('update');
	}

	function deleteEmployee(pid) {
		showform('delete');
	}

	function browseEmployee() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseEmployee()">
	<h1>Employees</h1> 	
	
	{# [ <a href="homepage">Home Page</a> | <a href="employees">Employees</a> | <a href="jobs">Jobs</a> | <a href="ingredients">Ingredients</a> | <a href="products">Products</a> | <a href="sales">Sales</a> | <a href="ingredients_products">Ingredients_Products</a> | <a href="products_sales">Products_Sales</a> ] #}
	
	<p>This page includes functions to add, update, or delete an employee from the database.</p>
	
	<div id="browse">
		<p><a href="#" onClick="newEmployee()">Add Employee</a> </p>
		<table border='1' cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <th>Employee ID</th>
						<th>Employee Name</th>
						<th>Employee Hours</th>
						<th>Job Title</th>
						<th colspan="2">Actions</th>
                    </tr>
				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_employee/{{item.employee_ID}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_employee/{{item.employee_ID}}" class="btn btn-default">Delete</a></td>
					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into employees-->
		<form id="insertEmployee" action="/employees" method="post">
			<legend><strong>Add Employee</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">Employee Name:</label>
				<input type="text" class="form-control" id="employee_name" name="employee_name" placeholder="" required>

				<label for="model">Employee Hours:</label>
				<input type="text" class="form-control" id="employee_hours" name="employee_hours" placeholder="" required>

				<label for="year">Job:</label>
				<select class="form-control" id="job" name="job" pattern="[0-4]{1}" placeholder="">
				<!-- these are hard coded, but you can add code to make this dynamic -->
					<option value="">&nbsp;</option>
					{% for job in jobs %}
                        		<!-- If the value iterated matches the value of currently Editing, pre-select that option -->
                                {% if job['job_ID'] == data[0].job_ID %}
                                    <option value="{{ job['job_ID'] }}" selected> {{job['job_title']}}</option>
                                {% else %}
                                    <option value="{{ job['job_ID'] }}"> {{job['job_title']}}</option> 
                                {% endif %}
                        <!-- End of this for loop -->
                        {% endfor %} 
				</select>
			</fieldset>

            <!-- Create 'Add Employee' and 'Cancel' buttons -->
			<input type="submit" value="Add Employee" name="Add_Employee" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseEmployee()"> 
        </form>
	</div><!--insert-->

	<div id="edit">
		<!-- form to edit data in employees-->
		<form id="editEmployee" action="/edit_employee/{{data[0].employee_ID}}" method="post">
			<legend><strong>Edit Employee</strong></legend>
			<fieldset>
				<input type="hidden" value="{{data[0].employee_ID}}" class="form-control" id="personID" name="personID" required>
				<label for="make">employee name:</label>

				<input type="text" class="form-control" id="employee_name" name="employee_name" pattern="[A-Za-z]{1,}" placeholder="{{data[0].employee_name}}" required>
				<label for="model">employee hours:</label>

				<input type="text" class="form-control" id="employee_hours" name="employee_hours" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].employee_hours}}" required>
				<label for="year">homeworld:</label>

				<select class="form-control" id="job" name="job" pattern="[0-4]{1}" placeholder="" required>
					<option value="0">&nbsp;</option>
					<option value="1">Barista</option>
					<option value="2">Shift Lead</option>
					<option value="3">Manager</option>
					<option value="{{data[0].job}}" selected></option>
				</select>

				</fieldset>
				<input class="btn" type="button" value="Cancel" onClick="browseEmployee()" style="margin:.5rem;"> 
        </form>
	</div><!--edit-->
</body>
</html>
{% endblock %}